## Predicting World Cup 2018 Winner
In this Jupyter Notebook, I'm going to present a Machine Learning model to try to predict the outcomes of all games in World Cup 2018, which also means predicting the winner of the championship. 

We're going first to do some exploratory analysis on two datasets obtained from Kaggle. Then, we're going to do some feature engineering in order to select which features are the most relevant to the case in point, do some data manipulation, choose an ML model and finally deploy it on the dataset. 

### 1) Getting things ready
First step: import the necessary packages and read the files into pandas Dataframes.

In [65]:
# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
# Read .csv files
wc = pd.read_csv('World Cup 2018 Dataset.csv')
results = pd.read_csv('results.csv')

In [67]:
wc.head()

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,history with first opponent goals,Second match against,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals,Unnamed: 19
0,Russia,A,10.0,0.0,0.0,1.0,65.0,Saudi Arabia,1.0,-1.0,-2.0,Egypt,17.0,NaN,NaN,Uruguay,33.0,0.0,0.0,NaN
1,Saudi Arabia,A,4.0,0.0,0.0,0.0,63.0,Russia,1.0,1.0,2.0,Uruguay,18.0,1.0,1.0,Egypt,34.0,-5.0,-5.0,NaN
2,Egypt,A,2.0,0.0,0.0,0.0,31.0,Uruguay,2.0,-1.0,-2.0,Russia,17.0,NaN,NaN,Saudi Arabia,34.0,5.0,5.0,NaN
3,Uruguay,A,12.0,2.0,2.0,5.0,21.0,Egypt,2.0,1.0,2.0,Saudi Arabia,18.0,-1.0,-1.0,Russia,33.0,0.0,0.0,NaN
4,Porugal,B,6.0,0.0,0.0,2.0,3.0,Spain,3.0,-12.0,-31.0,Morocco,19.0,-1.0,-2.0,Iran,35.0,2.0,5.0,NaN

In [68]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland
1,1873-03-08,England,Scotland,4,2,Friendly,London,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland

### 2) Exploring and Manipulating the data
Now, we're going to play around with the second dataset ("results") and create two auxiliary columns that will tell us the absolute goal difference in each match and the outcome of which match (that is, which team won, or "Tie"). I believe these pieces of information should be useful when we arrive at the feature engineering discussion.

The Dataframe has an anormous amount of match records, but not all of them are actually useful for our analysis. We need to start thinking about which features exactly will be the most relevant for the ML model we are going to use. 

This is a very complex and time-consuming part of every Data Science project roadmap, so we are going to spend a good chunk of time here.

In [69]:
# Adding new column for winner of each match
winner = []
for i in range(len(results['home_team'])):
    if results['home_score'][i] > results['away_score'][i]:
        winner.append(results['home_team'][i])
    elif results['home_score'][i] < results['away_score'][i]:
        winner.append(results['away_team'][i])
    else:
        winner.append('Tie')
results['winning_team'] = winner

# Adding new column for goal difference in matches
results['goal_difference'] = np.absolute(results['home_score'] - results['away_score'])

results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,Tie,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,England,2
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,Scotland,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,Tie,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,Scotland,3

Let's work with a subset of the dataset: one that includes only games played by England.

In [72]:
df = results[(results['home_team'] == 'England') | (results['away_team'] == 'England')]
england = df.iloc[:]
england.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,Tie,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,England,2
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,Scotland,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,Tie,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,Scotland,3

In [75]:
year = []

# Loop for creating a new column 'year'
for row in england['date']:
    year.append(int(row[:4]))
england['match_year'] = year

# Slicing the dataset to show matches only from 1930 onwards (the year of the first ever World Cup)
england[england.match_year > 1930]

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference,match_year
1343,1931-03-28,Scotland,England,2,0,British Championship,Glasgow,Scotland,Scotland,2,1931
1360,1931-05-14,France,England,5,2,Friendly,Colombes,France,France,3,1931
1362,1931-05-16,Belgium,England,1,4,Friendly,Brussels,Belgium,England,3,1931
1408,1931-10-17,Northern Ireland,England,2,6,British Championship,Belfast,Northern Ireland,England,4,1931
1414,1931-11-18,England,Wales,3,1,British Championship,Liverpool,England,England,2,1931
1420,1931-12-09,England,Spain,7,1,Friendly,London,England,England,6,1931
1436,1932-04-09,England,Scotland,3,0,British Championship,London,England,England,3,1932
1500,1932-10-17,England,Northern Ireland,1,0,British Championship,Blackpool,England,England,1,1932
1507,1932-11-16,Wales,England,0,0,British Championship,Wrexham,Wales,Tie,0,1932
1511,1932-12-07,England,Austria,4,3,Friendly,London,England,England,1,1932
1526,1933-04-01,Scotland,England,2,1,British Championship,Glasgow,Scotland,Scotland,1,1933
1537,1933-05-13,Italy,England,1,1,Friendly,Rome,Italy,Tie,0,1933
1538,1933-05-20,Switzerland,England,0,4,Friendly,Berne,Switzerland,England,4,1933
1582,1933-10-14,Northern Ireland,England,0,3,British Championship,Belfast,Northern Ireland,England,3,1933
1597,1933-11-15,England,Wales,1,2,British Championship,Newcastle,England,Wales,1,1933
1603,1933-12-06,England,France,4,1,Friendly,London,England,England,3,1933
1631,1934-04-14,England,Scotland,3,0,British Championship,London,England,England,3,1934
1638,1934-05-10,Hungary,England,2,1,Friendly,Budapest,Hungary,Hungary,1,1934
1643,1934-05-16,Czechoslovakia,England,2,1,Friendly,Prague,Czechoslovakia,Czechoslovakia,1,1934
1691,1934-09-29,Wales,England,0,4,British Championship,Cardiff,Wales,England,4,1934
1700,1934-11-14,England,Italy,3,2,Friendly,London,England,England,1,1934
1719,1935-02-06,England,Northern Ireland,2,1,British Championship,Liverpool,England,England,1,1935
1730,1935-04-06,Scotland,England,2,0,British Championship,Glasgow,Scotland,Scotland,2,1935
1743,1935-05-18,Netherlands,England,0,1,Friendly,Amsterdam,Netherlands,England,1,1935
1795,1935-10-19,Northern Ireland,England,1,3,British Championship,Belfast,Northern Ireland,England,2,1935
1807,1935-12-04,England,Germany,3,0,Friendly,London,England,England,3,1935
1818,1936-02-05,England,Wales,1,2,British Championship,Wolverhampton,England,Wales,1,1936
1830,1936-04-04,England,Scotland,1,1,British Championship,London,England,Tie,0,1936
1836,1936-05-06,Austria,England,2,1,Friendly,Vienna,Austria,Austria,1,1936
1837,1936-05-09,Belgium,England,3,2,Friendly,Brussels,Belgium,Belgium,1,1936
...,...,...,...,...,...,...,...,...,...,...,...
36729,2015-10-09,England,Estonia,2,0,UEFA Euro qualification,London,England,England,2,2015
36775,2015-10-12,Lithuania,England,0,3,UEFA Euro qualification,Vilnius,Lithuania,England,3,2015
36904,2015-11-13,Spain,England,2,0,Friendly,Alicante,Spain,Spain,2,2015
36939,2015-11-17,England,France,2,0,Friendly,London,England,England,2,2015
37150,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany,England,1,2016
37184,2016-03-29,England,Netherlands,1,2,Friendly,London,England,Netherlands,1,2016
37239,2016-05-22,England,Turkey,2,1,Friendly,Manchester,England,England,1,2016
37246,2016-05-27,England,Australia,2,1,Friendly,Sunderland,England,England,1,2016
37303,2016-06-02,England,Portugal,1,0,Friendly,London,England,England,1,2016
37403,2016-06-11,England,Russia,1,1,UEFA Euro,Marseille,France,Tie,0,2016
37436,2016-06-16,England,Wales,2,1,UEFA Euro,Lens,France,England,1,2016
37458,2016-06-20,Slovakia,England,0,0,UEFA Euro,Saint-Ã‰tienne,France,Tie,0,2016
37486,2016-06-27,England,Iceland,1,2,UEFA Euro,Nice,France,Iceland,1,2016
37574,2016-09-04,Slovakia,England,0,1,FIFA World Cup qualification,Trnava,Slovakia,England,1,2016
37669,2016-10-08,England,Malta,2,0,FIFA World Cup qualification,London,England,England,2,2016
37737,2016-10-11,Slovenia,England,0,0,FIFA World Cup qualification,Ljubljana,Slovenia,Tie,0,2016
37781,2016-11-11,England,Scotland,3,0,FIFA World Cup qualification,London,England,England,3,2016
37843,2016-11-15,England,Spain,2,2,Friendly,London,England,Tie,0,2016
37970,2017-03-22,Germany,England,1,0,Friendly,Dortmund,Germany,Germany,1,2017
38026,2017-03-26,England,Lithuania,2,0,FIFA World Cup qualification,London,England,England,2,2017
38185,2017-06-10,Scotland,England,2,2,FIFA World Cup qualification,Glasgow,Scotland,Tie,0,2017
38219,2017-06-13,France,England,3,2,Friendly,Saint-Denis,France,France,1,2017
38385,2017-09-01,Malta,England,0,4,FIFA World Cup qualification,Attard,Malta,England,4,2017
38420,2017-09-04,England,Slovakia,2,1,FIFA World Cup qualification,London,England,England,1,2017
38481,2017-10-05,England,Slovenia,1,0,FIFA World Cup qualification,London,England,England,1,2017
38533,2017-10-08,Lithuania,England,0,1,FIFA World Cup qualification,Vilnius,Lithuania,England,1,2017
38609,2017-11-10,England,Germany,0,0,Friendly,London,England,Tie,0,2017
38675,2017-11-14,England,Brazil,0,0,Friendly,London,England,Tie,0,2017
38791,2018-03-23,Netherlands,England,0,1,Friendly,Amsterdam,Netherlands,England,1,2018
38866,2018-03-27,England,Italy,1,1,Friendly,London,England,Tie,0,2018